.servicesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--size-50);
  margin-bottom: var(--size-100);
  padding: var(--size-30) 5.625rem; 
}

.servicesContainer h2 {
  font-size: 3.5rem;
  color: #061f35;
  font-family: 'Bebas Neue', cursive;
}

.servicesContainer h2 span {
  color: var(--color-primary);
}

.servicesCardWrapper {
  display: flex;
  gap: 1.063rem;
  flex-wrap: wrap;
  max-width: 46rem;
}

.serviceCard {
  color: #061f35;
  border: 1px solid lightgrey;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  width: 13.75rem;
  height: 38vh;
  display: flex;
  flex-direction: column;
  font-size: var(--size-16);
  cursor: pointer;
  gap: var(--size-10);
}

.serviceCard .cardHeaderImage {
  width: 100%;
  padding: 0;
  overflow: hidden;

}

.serviceCard .cardHeaderImage img {
  width: 100%;
  height: 11.25rem;
  object-fit: cover;
}

.cardIcon {
  position: relative;
}

.cardIcon img {
  width: var(--size-80);
  background-color: rgba(255, 198, 41, 0.90);
  border-radius: var(--size-10);
  padding: var(--size-5);
  position: absolute;
  left: 1.063rem;
  top: -3.125rem;
}

.cardText {
  margin-top: var(--size-50);
  text-align: left;
  padding: 0 var(--size-20);
}

.cardText h3 {
  font-size: 1.5rem;
}

.serviceCard h3 {
  color: var(--color-primary)
}

.serviceCard:hover {
  border: 2px solid var(--color-secondary);
}

@media only screen and (max-width: 900px) {
  .servicesContainer {
    flex-wrap: wrap;
    gap: var(--size-20);
  }

  .servicesContainer h2 {
    text-align: center;
    margin-top: var(--size-20);
  }

  .servicesCardWrapper {
    justify-content: center;
  }
}

@media only screen and (max-width: 640px) {
  .serviceCard {
    width: 19rem;
  }
}
