.heroWrapper {
  padding: var(--size-20) var(--size-100);
}

.heroImgsContainer {
  position: relative;
}

.heroImgsContainer img {
  width: 100%;
}

.heroPhoneContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
}

.heroPhoneImg {
  max-width: 31.25rem;
}

.heroPhoneImg img {
  width: 100%;
}

.heroContainer {
  display: flex;
  justify-content: center;
  margin-top: var(--size-100);
  align-items: center;
  gap: 5rem;
}

.heroText {
  margin-top: -3.125;
}

.heroText p {
  overflow-wrap: break-word;
  font-size: 2.3rem;
  letter-spacing: 0.125rem;
}

.heroText p b {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: var(--size-5);
  color: var(--color-primary);
  font-size: 3rem;
}

.heroBottomBanner {
  background-color: var(--color-primary);
  margin-top: var(--size-60);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-50);
  padding: var(--size-14) 0;
}

.heroBottomBanner {
  display: flex;
}

.heroBottomBanner div {
  display: flex;
  align-items: center;
  color: white;
}

.heroBtmImage {
  width: var(--size-50);
}

.design .heroBtmImage {
  width: var(--size-80);
}

.heroBottomBanner div h5 {
  font-weight: 400;
  font-size: 1rem;
}

.heroBottomBanner div img {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .heroImg {
    width: 86%;
  }
}

@media only screen and (max-width: 900px) {
  .heroContainer {
    flex-direction: column;
    gap: var(--size-30);
  }

  .heroText {
    text-align: center;
  }

  .heroText h1 {
    inline-size: initial;
  }

  .heroPhoneContainer {
    left: var(--size-50);
    top: var(--size-30);
  }
}

@media only screen and (max-width: 675px) {
  .heroText p {
    font-size: 1.5rem;
  }

  .heroText p b {
    font-size: 2.3rem;
  }

  .heroText a {
    margin: var(--size-16);
  }
}

@media only screen and (max-width: 550px) {
  .heroWrapper {
    padding: var(--size-20) var(--size-40);
  }

  .heroText h1 {
    font-size: 2rem;
  }

  .heroBottomBanner {
    flex-direction: column;
    gap: 0.438rem;
  }

  .heroBottomBanner div h5 {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 450px) {
  .heroText p b {
    font-size: 1.75rem;
  }

  .heroPhoneContainer {
    left: var(--size-30);
    width: 12.5rem;
  }
}

@media only screen and (max-width: 400px) {

  .heroPhoneContainer {
    left: var(--size-16);
    width: 12rem;
  }
}

@media only screen and (max-width: 340px) {
  .heroPhoneContainer {
    left: 2.313rem;
    width: 8.125rem;
  }
}


