@import "/src/sassStyles/variables";

.box {
  position: relative;
  min-height: 55rem;
}

.box:before,
.box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}
.box:after {
  -webkit-mask: radial-gradient(
        var(--r1, 100%) var(--r2, 80%) at top,
        white 79.5%,
        transparent 80%
      )
      left,
    radial-gradient(
        var(--r1, 100%) var(--r2, 80%) at bottom,
        transparent 79.5%,
        white 80%
      )
      right;
  mask: radial-gradient(
        var(--r1, 100%) var(--r2, 80%) at top,
        white 79.5%,
        transparent 80%
      )
      left,
    radial-gradient(
        var(--r1, 100%) var(--r2, 80%) at bottom,
        transparent 79.5%,
        white 80%
      )
      right;
  -webkit-mask-size: 50.1% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-size: 50.1% 100%;
  mask-repeat: no-repeat;
  background: linear-gradient($primary-color 20%, $primary-medium);
}

.heroWrapper {
  padding: $size-20 $size-100;

  .heroContainer {
    display: flex;
    justify-content: center;
    margin-top: $size-100;
    gap: 5rem;

    .heroText {
      max-width: 600px;
      z-index: 100;

      .description {
        color: $white;

        p {
          margin-bottom: 1.3rem;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }

      h2 {
        color: $white;
        font-size: 48px;
        font-weight: 500;
        letter-spacing: 0.125rem;
        line-height: 1.3;
        overflow-wrap: break-word;

        div {
          display: inline-block;
          margin-left: 15px;
          margin-right: 7px;
          max-width: 250px;
          min-width: 180px;
        }

        b {
          font-family: $highlight-font;
          letter-spacing: $size-5;
          color: $secondary-color;
          font-size: 2.5rem;
        }
      }

      a {
        margin-top: 1rem;
      }
    }

    .heroImg {
      position: relative;
      z-index: 100;

      svg {
        height: 500px;
        width: 500px;
      }
    }
  }
}

.heroBottomBanner {
  background-color: #5094d2;
  width: 98%;
  margin: 0 auto;
  max-width: 1200px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: $size-50;
  padding: $size-14 0;

  h2 {
    font-size: 1.2rem;
  }

  .companiesWrapper {
    color: $white;
    display: flex;
    gap: 1.5rem;

    .image {
      display: flex;
      justify-content: center;
      gap: 1.5rem;

      img {
        border-radius: 7px;
        height: 75px;
        width: 75px;
      }
    }
  }

  .divider {
    height: 50px;
    border-right: 2px solid white;
  }

  .btmBannerTrusted {
    align-items: center;
    color: $white;
    display: flex;

    svg {
      height: 70px;
      width: 70px;
    }

    .bannerText {
      p {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 1270px) {
  .heroWrapper .heroContainer .heroText h2 {
    font-size: 30px;
    margin-bottom: 0.75rem;

    div {
      max-width: 180px;
      min-width: 70px;
    }
  }
}

@media screen and (max-width: 1165px) {
  .heroWrapper {
    padding: 1.25rem 2.25rem;

    .heroContainer {
      gap: 3rem;

      .heroImg svg {
        height: 400px;
        width: 400px;
      }
    }
  }

  .heroBottomBanner {
    .btmBannerTrusted {
      display: none;
    }

    .divider {
      display: none;
    }
  }
}

@media only screen and (max-width: 950px) {
  .heroWrapper .heroContainer {
    flex-direction: column;

    .heroText {
      margin: 0 auto;

      .description {
        text-align: left;
      }
    }

    .heroImg {
      margin: 0 auto;
      margin-top: -1rem;

      svg {
        height: 300px;
        width: 300px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .box:after {
    mask-size: 104.1% 100%;
    -webkit-mask-size: 104.1% 100%;
  }
}

@media screen and (max-width: 425px) {
  .heroWrapper .heroContainer {
    margin-top: 5rem;

    .heroText {
      h2 {
        font-size: 23px;
      }

      .description p {
        font-size: 14px;
      }
    }

    .heroImg svg {
      height: 251px;
      width: 251px;
    }
  }

  .heroBottomBanner .companiesWrapper .image img {
    height: 55px;
    width: 55px;
  }
}

@media screen and (max-width: 350px) {
  .heroWrapper .heroContainer .heroText h2 {
    font-size: 18px;
  }
}
