@import "/src/sassStyles/variables";

.box {
  min-height: 45rem;
  position: relative;
}

.svg {
  position: absolute;
  width: 100%;
  bottom: 118px;
  left: 0;
  right: 0;
  z-index: 1;
}

.heroWrapper {
  .bottom {
    height: 1rem;
    background-color: white;
  }

  .heroContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: $size-100;
    background: linear-gradient($primary-color 20%, $primary-medium);
    gap: 5rem;

    .heroText {
      max-width: 600px;
      z-index: 100;

      .description {
        color: $white;

        p {
          margin-bottom: 1.3rem;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }

      h1 {
        color: $white;
        font-size: 48px;
        font-weight: 500;
        letter-spacing: 0.125rem;
        line-height: 1.3;
        overflow-wrap: break-word;

        div {
          display: inline-block;
          margin-left: 15px;
          margin-right: 7px;
          max-width: 250px;
          min-width: 180px;
        }

        b {
          font-family: $highlight-font;
          letter-spacing: $size-5;
          color: $secondary-color;
          font-size: 2.5rem;
        }
      }

      button {
        margin-top: 1rem;
      }
    }

    .heroImg {
      position: relative;
      z-index: 100;

      img {
        height: 500px;
        width: 500px;
      }
    }
  }
}

@media screen and (max-width: 1270px) {
  .box {
    min-height: 41rem;
  }

  .svg {
    bottom: 145px;
  }

  .heroWrapper {
    .heroContainer {
      gap: 3rem;
      padding-right: 3.25rem;
      padding-left: 3.25rem;

      .heroText h1 {
        font-size: 33px;

        div {
          min-width: 125px;
        }
      }

      .heroImg img {
        height: 400px;
        width: 400px;
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .svg {
    bottom: 131px;
  }

  .heroWrapper {
    .heroContainer {
      flex-direction: column;

      .heroText {
        margin: 0 auto;
        max-width: 800px;

        .description {
          text-align: left;
        }
      }

      .heroImg {
        margin: 0 auto;
        margin-top: -3rem;

        img {
          height: 300px;
          width: 300px;
        }
      }
    }

    .bottom {
      height: 2rem;
    }
  }
}

@media screen and (max-width: 700px) {
  .heroWrapper .heroContainer .heroImg {
    margin-top: -1rem;
  }
}

@media screen and (max-width: 425px) {
  .svg {
    bottom: 113px;
  }

  .heroWrapper .heroContainer {
    padding-right: 2.25rem;
    padding-left: 2.25rem;

    .heroText {
      h1 {
        font-size: 20px;

        div {
          min-width: 85px;
        }
      }

      .description p {
        font-size: 14px;
      }
    }

    .heroImg img {
      height: 250px;
      width: 250px;
    }
  }
}

@media screen and (max-width: 350px) {
  .heroWrapper .heroContainer .heroText h1 {
    font-size: 18px;
  }
}
