.heroWrapper {
  padding: 20px 100px;
}

.heroImgsContainer {
  position: relative;
}

.heroImgsContainer img {
  width: 100%;
}

.heroPhoneContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
}

.heroPhoneImg {
  max-width: 500px;
}

.heroPhoneImg img {
  width: 100%;
}

.heroContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
  gap: 5rem;
}

.heroText {
  margin-top: -50px;
}

.heroText p {
  overflow-wrap: break-word;
  font-size: 2.3rem;
  letter-spacing: 2px;
}

.heroText p b {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 6px;
  color: var(--color-primary);
  font-size: 3rem;
}

.heroBottomBanner {
  background-color: var(--color-primary);
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 15px 0;
}

.heroBottomBanner {
  display: flex;
}

.heroBottomBanner div {
  display: flex;
  align-items: center;
  color: white;
}

.heroBtmImage {
  width: 50px;
}

.design .heroBtmImage {
  width: 80px;
}

.heroBottomBanner div h5 {
  font-weight: 400;
  font-size: 1rem;
}

.heroBottomBanner div img {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .heroImg {
    width: 86%;
  }
}

@media only screen and (max-width: 900px) {
  .heroContainer {
    flex-direction: column;
    gap: 30px;
  }

  .heroText {
    text-align: center;
  }

  .heroText h1 {
    inline-size: initial;
  }

  .heroPhoneContainer {
    left: 50px;
    top: 30px;
  }
}

@media only screen and (max-width: 675px) {
  .heroText p {
    font-size: 1.5rem;
  }

  .heroText p b {
    font-size: 2.3rem;
  }

  .heroText a {
    margin: 17px;
  }
}

@media only screen and (max-width: 550px) {
  .heroWrapper {
    padding: 20px 40px;
  }

  .heroText h1 {
    font-size: 2rem;
  }

  .heroBottomBanner {
    flex-direction: column;
    gap: 7px;
  }

  .heroBottomBanner div h5 {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 450px) {
  .heroText p b {
    font-size: 1.75rem;
  }

  .heroPhoneContainer {
    left: 33px;
    width: 200px;
  }
}

@media only screen and (max-width: 400px) {

  .heroPhoneContainer {
    left: 15px;
    width: 190px;
  }
}

@media only screen and (max-width: 340px) {
  .heroPhoneContainer {
    left: 37px;
    width: 130px;
  }
}


