#hubspotContactForm {
  padding: 25px;
}

#hubspotContactForm .hs-form-iframe {
  border-radius: 7px;
}

#hubspotContactForm .actions input {
  margin: 0 auto;
  text-align: center !important;
}

@media only screen and (max-width: 415px) {
  #hubspotNewsletter {
    width: 90%;
    margin: 0 auto;
  }
}
