@import "/src/sassStyles/variables";

.itemWrapper {
  background-color: $white;
  max-width: calc(100% - $size-80);
  height: calc(100% - $size-100);
  display: flex;
  justify-content: center;
  padding: $size-20;
  border-radius: $size-5;
  gap: $size-10;

  .itemContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .portfolioBtn {
      align-self: start;
    }

    .portfolioTitle {
      font-size: 2rem;
      font-weight: 500;
      text-align: center;
      margin-bottom: $size-10;
    }

    .portfolioDescription {
      line-height: 1.7;
      width: 85%;
    }

    .startProjectBtn {
      margin: $size-30 0;
    }
  }
}

.itemWrapper {
  [class="swiper-wrapper"] {
    max-width: 34.375rem;
  }

  [class="swiper-slide"] img {
    width: 100%;
    border: $size-10 solid black;
    border-radius: $size-10;
  }
}

@media only screen and (max-width: 800px) {
  .itemWrapper {
    overflow: auto;
    flex-wrap: wrap;
    max-height: 43.75rem;

    [class="swiper-wrapper"] {
      max-width: 22rem;
    }
  }
}

@media only screen and (max-width: 550px) {
  .modalContent iframe {
    width: 100%;
  }
}
