.portfolioContainer {
  background-color: var(--color-primary);
}

.portfolioHeader {
  color: var(--white);
  padding: 50px 0;
  width: 50%;
  margin: 0 auto;
}

.portfolioHeader h2 {
  font-size: 3.5rem;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 3px;
  text-align: center;
}

.pCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
  gap: 30px;
  max-width: 770px;
  margin: auto;
}

.portfolioCard {
  color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  cursor: pointer;
  background-color: rgba(0, 0, 128, 0.8);
  border-radius: 7px;
}

.portfolioCard .cardHeaderImage {
  width: 100%;
  height: 280px;
  padding: 0;
  overflow: hidden;
}

.portfolioCard .cardHeaderImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolioCard .pCardText {
  margin-left: 17px;
}

.portfolioCard .pCardText h3 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  font-size: 1.3rem;
  margin-top: 38px;
  text-align: center;
}

.portfolioCard a {
  color: var(--white);
  font-weight: 500;
  align-self: end;
  margin-top: 50px;
  margin-right: 17px;
  font-size: .9rem;
}
