.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pItemWrapper {
  background-color: var(--white);
  max-width: calc(100% - var(--size-80));
  height: calc(100% - var(--size-100));
  display: flex;
  justify-content: center;
  padding: var(--size-20);
  border-radius: var(--size-5);
  gap: var(--size-10);
}

.pModalContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pItemWrapper .pModalContent .portfolioBtn {
  align-self: start;
}

.pModalContent .portfolioTitle {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: var(--size-10);
}

.pModalContent .portfolioDescription {
  line-height: 1.7;
  width: 85%;
}

.pModalContent .startProjectBtn {
  margin-top: var(--size-30);
}

.pItemWrapper .swiper-wrapper {
  max-width: 34.375rem;
}

.pItemWrapper .swiper-slide img {
  width: 100%;
  border: var(--size-10) solid black;
  border-radius: var(--size-10);
}

@media only screen and (max-width: 800px) {
  .pItemWrapper {
    overflow: auto;
    flex-wrap: wrap;
    max-height: 43.75rem;
  }

  .pItemWrapper .swiper-wrapper {
    max-width: 21.875rem;
  }

  .pItemWrapper .swiper {
    margin-top: var(--size-50);
  }
}

@media only screen and (max-width: 550px) {
  .pModalContent iframe {
    width: 100%;
  }
}