.featuredBlogs {
  background-color: var(--color-primary-lightest);
  padding: var(--size-60);
}

.bgShapeTop {
  position: absolute;
  top: -3.125rem;
  left: 1.563rem;
  z-index: 1;

}

.bgShapeBottom {
  position: absolute;
  bottom: -2.5rem;
  right: -1.25rem;
  z-index: 1;

}

.bgShapeBottom img, 
.bgShapeTop img {
  width: 100%;
}

.featuredBlogsTitle {
  text-align: center;
}

.featuredBlogsTitle h2 {
  font-size: 3.5rem;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.188rem;
  color: var(--color-primary);
}

.featuredBlogsTitle p  a {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);

}

.featuredBlogWrapper {
  display: flex;
  gap: var(--size-20);
  margin: 4.063rem auto;
  justify-content: center;
  position: relative;
  z-index: 1;

}

.featuredBlogWrapper div .blogCard {
  background-color: white;
  z-index: 100;
  position: relative;
  margin-top: var(--size-30);
}
  
  @media only screen and (max-width: 975px) {
    .featuredBlogWrapper {
      flex-wrap: wrap;
    }
  }