.blogPost {
  padding: var(--size-20);
  margin: var(--size-30) auto;
  text-align: center;
}

.blogHeader {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.blogHeader .blogDetailsHeader {
  text-align: left;
  margin-bottom: 1.063rem;
  font-size: 0.9rem;
}

.blogDetailsHeader p {
  margin: 0;
  padding: 0;
}

.blogDetailsHeader .headerDateAndTime {
  color: grey;
  font-size: 0.87rem;
}

.blogDetailsHeader .headerDateAndTime span {
  margin: 0 0.313rem;
}

.blogPost .title {
  margin-bottom: 2.063rem;
  font-size: 2.2rem;
  font-family: 'Bebas Neue', cursive;

}

.blogFeaturedImg {
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  width: 21.875rem;
  height: 10%;
  margin: 0 auto;
  margin-bottom: 2.813rem;
}

.blogFeaturedImg img {
  width: 100%;
  border-radius: var(--size-10);
}

.blogText {
  margin-top: var(--size-30);
  text-align: left;
  width: 80%;
  margin: var(--size-10) auto;
  line-height: 1.7;
}

.blogText h4 {
  margin-top: 2.188rem;
  margin-bottom: var(--size-20);
}

.blogText ol {
  margin-left: 2.188rem;
}

.blogText img {
  width: 28.125rem;
  height: 70%;
  border-radius: 0.438rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1.688rem auto;
  display: flex;
}

@media only screen and (max-width: 415px) {
  .blogFeaturedImg {
    width: 15.625rem;
  }
}
