.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: rgba(255, 255, 255, 0.95);
  width: 50%;
  max-height: calc(100vh - 20vh);
  overflow: auto;
  border-radius: var(--size-10);
}

.modalImage {
  position: relative;
}

.modalImage button {
  position: absolute;
  top: var(--size-10);
  right: var(--size-30);
}

.modalImage button:hover {
  background-color: var(--color-secondary);
}

.modalImage img {
  width: 100%;
}

.modalText {
  padding: var(--size-30);
  text-align: left;
  margin-bottom: var(--size-40);
}

.modalText h3 {
  text-align: center;
  color: var(--color-primary);
  margin-bottom: var(--size-16);
}

.modalText.about {
  margin-top: var(--size-50);
}

@media only screen and (max-width: 750px) {
  .modalContent {
    width: 70%;
  }

  .modalText {
    padding: var(--size-20) 1.9rem;
  }
}

@media only screen and (max-width: 480px) {
  .modalContent {
    width: 82%;
  }
}