.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: rgba(255, 255, 255, 0.9);
  width: 380px;
  max-height: calc(100vh - 20vh);
  overflow: auto;
  border-radius: 9px;
}

.modalImage {
  position: relative;
}

.modalImage button {
  position: absolute;
  top: 10px;
  right: 27px;
}

.modalImage button:hover {
  background-color: var(--color-secondary);
}

.modalImage img {
  width: 100%;
}

.modalText {
  padding: 15px;
  text-align: left;
  margin-bottom: 40px;
}

.modalText h3 {
  text-align: center;
  color: var(--color-primary);
  margin-bottom: 15px;
}

.modalText.about {
  margin-top: 50px;
}

@media only screen and (max-width: 450px) {
  .modalContent {
    width: 310px;
  }

  .modalText {
    padding: 20px 33px;
  }
}