@import "/src/sassStyles/variables";

.progressBar {
  position: fixed;
  top: 5.625rem;
  left: 0;
  right: 0;
  height: $size-100;
  background: $secondary-color;
  transform-origin: 0%;
  z-index: 100;
}
