.contactCard {
  display: flex;
  align-items: center;
  gap: 0.813rem;
  background-color: var(--white);
  margin-bottom: var(--size-10);
  padding: var(--size-10) 3.625rem;
  border-radius: var(--size-5);
}

.contactText {
  width: 100%;
}

.contactText h5 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.contactText p {
  font-size: 0.83rem;
  margin-bottom: 0;
}

.contactCard .contactIcon {
  color: var(--color-primary);
}