@import "/src/sassStyles/variables";

h3 {
  font-size: 3.5rem;
  font-family: $highlight-font;
  letter-spacing: 0.188rem;
  text-align: center;
  padding-top: 2.5rem;

  &.light {
    color: $white;
  }

  &.primary {
    color: $primary-color;
  }
}
