@import "/src/sassStyles/variables";

#testimonials {
  background-color: $light-grey;
  padding: 3rem 0 6rem;

  h3 {
    margin-bottom: 1.5rem;
  }

  .card {
    border-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 445px;
    width: 320px;

    .image-content,
    .card-content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: flex-end;
      padding: 10px 14px;
    }

    .image-content {
      position: relative;
      row-gap: 5px;
      padding: 25px 0;

      .overlay {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: $primary-color;
        border-radius: 25px 25px 0 25px;
      }

      .overlay::before,
      .overlay::after {
        position: absolute;
        content: "";
        height: 40px;
        width: 40px;
        right: 0;
        bottom: -40px;
        background-color: $primary-color;
      }

      .overlay::after {
        border-radius: 0 25px 0 0;
        background-color: $white;
      }

      .card-image {
        position: relative;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background: #fff;
        padding: 3px;

        .card-img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 50%;
          border: 4px solid $primary-color;
        }
      }
    }

    .card-content {
      .name {
        font-size: 18px;
        font-weight: 500;
        color: #333;
      }

      .description {
        font-size: 14px;
        color: grey;
        text-align: center;
      }

      .videoModal {
        margin: 1rem 0;
      }
    }
  }

  .testimonialIframe {
    background: $white;
    padding: 17px 50px 50px 50px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      width: 50px;
      align-self: end;
      margin-right: -30px;
    }

    iframe {
      width: 500px;
      height: 500px;
    }
  }
}

.swiper-wrapper {
  margin-left: 35px;
}

.swiper-pagination {
  margin-top: 2rem;
  position: relative;
}

.swiper-button-prev {
  left: -2.5px;
}

.swiper-button-next {
  right: 5px;
}

@media screen and (max-width: 1150px) {
  .swiper {
    max-width: 800px;
  }
}

@media screen and (max-width: 765px) {
  .swiper {
    max-width: 400px;
  }
}

@media screen and (max-width: 390px) {
  #testimonials .card {
    width: 295px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@media screen and (max-width: 340px) {
  .swiper-wrapper {
    margin-left: 17px;
  }
}

@media screen and (max-width: 650px) {
  .testimonialIframe {
    padding: 20px;

    button {
      margin-right: 0;
    }

    iframe {
      width: 370px;
      height: 370px;
    }
  }
}

@media screen and (max-width: 435px) {
  .testimonialIframe {
    padding: 10px;

    iframe {
      width: 300px;
      height: 300px;
    }
  }
}
