
#testimonials h2 {
  font-size: 3.5rem;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.188rem;
  text-align: center;
  color: var(--color-primary);
  margin-top: var(--size-50);
}

.testimonySwiper.swiper {
  width: 65%;
  height: 100%;
  margin: var(--size-30) auto 5.625rem;
}

.testimonySwiper .swiper-slide {
  text-align: center;
  font-size: var(--size-18);
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.testimonySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonySwiper .swiper-pagination-bullet {
  background-color: white;
  opacity: 0.4;
}

.testimonySwiper .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
  opacity: 1;
}

.testimonialIframe {
  position: relative;
  width: 46rem;
  height: 30rem;
}

.testimonialIframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 800px) {
  .testimonySwiper.swiper {
    width: 100%;
  }
}