@import "/src/sassStyles/variables";

#testimonials {
  margin-top: $size-50;

  .testimonyItem {
    padding: 0px 80px 80px 80px;

    .testimonyWrapper {
      border: 2px solid $primary-color;
      border-radius: 2px;
      margin-top: 3rem;
      position: relative;

      .image {
        left: 40px;
        position: absolute;
        top: -30px;

        img {
          border-radius: 5px;
          border: 2px solid $primary-color;
          height: 80px;
          width: 80px;
        }
      }

      .text {
        padding: 2.5rem;
        padding-top: 4rem;

        .videoModal {
          font-weight: 600;
          color: $primary-color;
          cursor: pointer;
          margin-left: 7px;
        }

        .name {
          font-weight: 600;
          font-size: $size-18;
          margin-top: 7px;
          margin-left: 5px;
        }
      }
    }
  }

  .testimonySwiper {
    &.swiper {
      width: 65%;
      height: 100%;
      margin: $size-30 auto 5.625rem;
    }

    &.swiper-slide {
      text-align: center;
      font-size: $size-18;
      background: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .swiper-pagination-bullet {
      background-color: $grey;
      opacity: 0.4;
    }

    .swiper-pagination-bullet-active {
      background-color: $primary-color;
      opacity: 1;
    }
  }

  .testimonialIframe {
    background: $white;
    padding: 17px 50px 50px 50px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      width: 50px;
      align-self: end;
      margin-right: -30px;
    }

    iframe {
      width: 500px;
      height: 500px;
    }
  }

  @media only screen and (max-width: 900px) {
    .testimonyItem {
      padding: 0px 50px 50px 50px;
    }

    .testimonySwiper.swiper {
      width: 92%;
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }

  @media screen and (max-width: 650px) {
    .testimonialIframe {
      padding: 20px;

      button {
        margin-right: 0;
      }

      iframe {
        width: 370px;
        height: 370px;
      }
    }
  }

  @media screen and (max-width: 435px) {
    .testimonyItem {
      padding: 15px;

      .testimonyWrapper {
        margin-top: 1rem;

        .text {
          padding: 1rem;
          padding-top: 4rem;
        }
      }
    }

    .testimonySwiper.swiper {
      margin-top: 0;

      .swiper-pagination {
        position: relative;
      }
    }

    .testimonialIframe {
      padding: 10px;

      iframe {
        width: 300px;
        height: 300px;
      }
    }
  }
}
