@import "/src/sassStyles/variables";

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("fonts/bebas-neue-v9-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("fonts/bebas-neue-v9-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  overflow: auto;
  font-size: 1rem;
  line-height: 1.5;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.icon path {
  fill: currentColor;
}

footer a .icon {
  color: $primary-color;
}

#SOIDIV_InitialProjectCall {
  width: 600px;

  iframe {
    height: 490px;
  }
}

@media screen and (max-width: 1100px) {
  #SOIDIV_InitialProjectCall {
    width: 500px;

    iframe {
      height: 700px;
    }
  }
}

@media screen and (max-width: 1100px) {
  #SOIDIV_InitialProjectCall {
    width: 400px;

    iframe {
      height: 720px;
    }
  }
}

@media screen and (max-width: 450px) {
  #SOIDIV_InitialProjectCall {
    width: 100%;
  }
}
