.blogListingsContainer {
  margin: var(--size-50) auto;
}

.blogHeader {
  width: 50%;
  margin: 0 auto;
}

.blogListingsContainer .blogHeader p {
  color: grey;
  text-align: center;
}

.blogListingsContainer h2 {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  letter-spacing: 0.125rem;
}

.blogFilterOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: var(--size-30) auto;
  color: grey;
  border-bottom: 0.125rem solid grey;
}

.blogFilterOptions input {
  border: none;
  outline: none;
  margin-bottom: 1rem;
  padding: 0.188rem;
  font-size: 0.7rem;
}

.blogFilterOptions input:active {
  border: none;
}

.filterTags {
  display: flex;
  gap: var(--size-16);

}

.filterTags button {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: grey;

}

.filterTags button:focus {
  color: var(--color-primary);
  font-weight: 600;
  border: none;
  outline: none;
}

.blogSearch {
  position: relative;
}

.blogSearch .fa-magnifying-glass {
  position: absolute;
  right: 0;
  bottom: var(--size-20);
}

.blogListings {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 62.5rem;
  flex-wrap: wrap;
  margin: 3.438rem auto;
  gap: 1.438rem;
}

.paginationBttns {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationBttns a {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.813rem;
  height: 2.813rem;
  padding: var(--size-10);
  margin: 0.5rem;
  font-weight: 600;
}

.paginationBttns a:not([href]):not([class]):hover,
.paginationActive a:not([href]):not([class]) {
  border-radius: 50%;
  color: white;
  background-color: var(--color-primary);
}

.paginationBttns .previous a:hover,
.paginationBttns .next a:hover {
  text-decoration: none;
  background-color: none;
}

@media only screen and (max-width: 550px) {
  .blogFilterOptions {
   flex-direction: column;
   gap: 1.563rem;
  }
}