.blogCard {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 300px;
  height: 550px;
  cursor: pointer;
  overflow: hidden;
}

.blogCardPic {
  width: 320px;
  height: 240px;
}

.blogCardPic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blogCardTag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(12, 113, 195, 0.05);
  margin: 10px;
  border-radius: 7px;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.blogCardTag p {
  margin: 0;
}

.blogCardText h4 {
  color: var(--color-primary);
  font-size: 1.3rem;
  font-family: 'Bebas Neue', cursive;
  text-overflow: ellipsis;
  overflow: hidden;
  letter-spacing: 1.3px;
}

.blogCardText {
  font-size: 0.9rem;
  padding: 15px;
}

.cardTextPreview {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

}

.cardTextPreview .contentful-to-react {
  height: 75px;
  overflow: hidden;
}

.blogCardText .cardTextPreview h4, 
.blogCardText .cardTextPreview h3, 
.blogCardText .cardTextPreview h5, 
.blogCardText .cardTextPreview p {
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.blogCardText .blogAuthor {
  font-size: 0.8rem;
  color: grey;
}