@import "/src/sassStyles/variables";

.navbar {
  background-color: $primary-color;
  height: 5.625rem;
  position: fixed;
  z-index: 2500;
  width: 100vw;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.438rem 1rem;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;

  .logoContainer img {
    height: 40px;
    margin-top: 1rem;
    width: 70px;
  }

  .navList {
    display: flex;
    gap: $size-40;
    align-items: center;
    flex-direction: row;

    li a {
      color: $white;
      font-size: 0.8rem;
      font-weight: 600;
      letter-spacing: 1px;

      &:hover {
        text-decoration: none;
        color: $secondary-color;
      }

      &:focus {
        color: $primary-color;
        border-bottom: 3px solid $primary-color;
        padding-bottom: 1.063rem;
      }

      &.project {
        color: $primary-color;
      }
    }
  }

  .nav-btn {
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  @media only screen and (max-width: 900px) {
    .nav-btn {
      visibility: visible;
      opacity: 1;
      top: $size-16;
      right: $size-30;
    }

    nav {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      background-color: $primary-color;
      color: $white;
      transition: 1s;
      transform: translateY(-100vh);
      z-index: 1000;

      .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
        color: $secondary-color;
      }

      a {
        font-size: 1.5rem;
        color: $white;
      }
    }

    .responsive_nav {
      transform: none;
    }

    .navList {
      flex-direction: column;

      li a:hover {
        color: $primary-medium;
      }

      .btn {
        background-color: $secondary-color;
        color: $primary-color;
      }
    }
  }
}
